body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;

}

.container{
    max-width: 500px;
    margin:180px auto;
    padding: 3px;
    background-color: rgb(130, 128, 128);
    border-radius: 8px;

}
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

#person{
    font-size: 18px; 


}

#gender{
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;

}

label{
    margin-top: 7px;
    font-size: 18px;
  
}
input{
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

.calculate{
    width: 120px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

.calculate:hover{
    background-color: rgba(140, 242, 155, 0.984);
    color: aliceblue;rgba(0, 0, 0, 0.984)rgba(150, 241, 168, 0.984)
}
#result{
    margin-left: 38px;
    margin-top: 3px;
}