body{
    background-color:rgb(24, 22, 22);
}
.song{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    
}
audio{
    padding: 10px;
}
